.card {
  display: inline-block;
  background-color: rgba(233, 233, 233, 0.596);
  margin: 10px;
  padding: 5px;

  border-radius: 10px;

  box-shadow: 5px 5px 10px #aaaaaa;

  text-transform: capitalize;

  text-align: center;

  border-top: 5px solid rgb(255, 29, 97);
  border-bottom: 5px solid rgb(255, 29, 97);
}

.card:hover {
  box-shadow: 5px 5px 5px #9b9b9b;
  cursor: pointer;
}

.card > h3 {
  color: grey;

  margin: 0px;
}
