h1 {
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

h2 {
  color: gray;
  text-align: center;
  padding: 5px;
  margin: 0px;
}


#stats-card span {
  background-color: rgba(53, 220, 226, 0.815);
}

#stats-card #weight {
  position: relative;
  top: 17px;
  right: 91px;
}

main {
  padding: 15px 25%;
}

main img {
  display: inline;
}

#botao-voltar{
  background-color: rgb(243, 39, 39);
  color: rgb(236, 236, 236);
  width: 100px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
