h1 {
  text-transform: capitalize;
  text-align: center;
  padding: 10px;
  margin: 0px;
}

h2 {
  color: gray;
  text-align: center;
  padding: 5px;
  margin: 0px;
}

#stats-card {
  background-color: rgba(53, 220, 226, 0.815);
}

